app/dist
app/**/*.js
!app/tests/**/*.js
app/**/*.map

hooks/
lib/
node_modules/
platforms/
report/
tmp/
typings/

.tscache
.nvm
.vscode
*.sublime-workspace
*.jks
*.log
.DS_Store
.nslivesyncinfo
.nsbuildinfo
temp_setting.gradle

!.gitkeep
